{% extends 'base.html' %}

{% block title %} {{ page.title }} {% endblock %}

{% block content %}

<h1>{{ page.title }}</h1>

<div class="content-containers">
    {% for container in containers %}
        <div class="content-container">
            <h2>{{ container.title }}</h2>
            <h1> {{container.container_type}} </h1>

            {% if container.content_type.model == 'teamsection' %}
                {% include "components/team_section.html" %}
            {% elif container.content_type.model == 'slider' %}
                {% include "components/slider.html" %}
            {% elif container.content_type.model == 'gallery' %}
                {% include "components/gallery.html" %}
            {% elif container.content_type.model == 'card' %}
                {% include "components/card.html" %}
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
